<!--{% extends 'main/main_layout.html' %}
{% load static %}


{% block title %}Тұлғалар{% endblock %}

{% block content %}
    <div class="persons">
        <h1 class="pers">Танымал Тұлғалар</h1>
        <h2 id="name_1">Бекзат Саттарханов</h2>
        <img id="bekzat" src="{% static 'main/img/bekzat.png' %}" alt="person_1">
        <h5 class="first_text">Бекзат Сейілханұлы Саттарханов (4 сәуір, 1980 жыл, Түркістан, Қазақстан - 31 желтоқсан, 2000 жыл, Шымкент, Қазақстан) – қазақстандық боксшы, халықаралық дәрежедегі спорт шебері, Қазақстанға еңбек сіңірген спорт шебері.2000 жылы өткен Сидней Олимпиадасының жартылай жеңіл салмақ бойынша чемпионы (57 кг дейін).         І дәрежелі «Барыс» орденінің бірінші иегері.      Отбасы Қоңырат тайпасының Божбан руынан шыққан.1980 жылы 4 сәуірде Түркістан қаласында дүниеге келген. 2000 жылдың 31 желтоқсаны күні, жаңа жылға санаулы минуттар қалғанда, Шымкент қаласы жанындағы Темірлан бекеті маңында автокөлік апатынан қаза болды. Бекзат Саттарханов Түркістан қаласындағы қарапайым отбасында дүниеге келген. Бекзат әкесі Сейілхан мен анасы Сырлыкүлдің кенже баласы. Саттархановтардың Бекзаттан өзге мектеп қабырғасындағы спорттық бәсекелерде оза шапқан үш ұлы болды.
        </h5>
        <h2 id="name_2">Қайрат Нұртас</h2>
        <img id="kairat" src="{% static 'main/img/kairat_nurtas.jpg' %}" alt="person_2">
        <h5 class="second_text">
        Қайрат Нұртас (25 ақпан 1989 жыл Түркістан облысы Түркістан қаласында дүниеге келген) — Қазақстанның эстрадалық әншісі. Бүгінгі таңдағы қазақ тілінде ән айтатын әншілердің ішіндегі ең танымалы. Тыңдармандар мен әріптестерінің арасында көптеген табынушылары бар.Айдарбеков Қайрат Нұртасұлы 1989 жылы 25-ақпанда Түркістан облысы Түркістан қаласында дүниеге келген. 1996 жылы Алматы қаласындағы М.Мақатаев атындағы 140 мектеп-гимназиясында алғаш қолына қалам алады. 1997 жылы: "Махаббат мұңы" әнімен алғаш 8 жасында экранға шықты. 2005 жылы Эстрада цирк колледжінің студенті атанды. 2006 жылы "Шаншар" әзіл-ысқақ театрында "Әке" әнін орындады. Сол жылы "Арман" әні жазылды. 2007 жылы: Қайрат елге белгілі әндері "Тәтті сезім","Еркетай қарындасым","Жаралдың кім үшін", "Аллаға шүкір","Көз жасың көмектеспейді" сияқты тағы да басқа әндерін тыңдарманға ұсынды. 2008 жылы 25 ақпанда Алматы қаласы Республика сарайында "Тәтті сезім" атты алғашқы шығармашылық ән кешін берді.
        </h5>
    </div>
{% endblock %}
-->
