{% extends 'main/main_layout.html' %}


{% block title %}{{titles}}{% endblock %}

{% block content %}
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90549.79687934705!2d65.43501097538551!3d44.82805994582355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41f7fde03751d779%3A0x8f2323e48cb1e04b!2sKyzylorda!5e0!3m2!1sen!2skz!4v1606188088765!5m2!1sen!2skz" width="1169.5" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="contacts">
        <h1>{{ title }}</h1>
        <p>Тел : 8705 668 7290</p>
        <ul>
        <a href="https://www.instagram.com/tomiris.smadiyar/"><li><i class="fab fa-instagram"></i> Smadiyar Tomiris</li></a>
        <a href="mailto:tomiris.smadiyar02@bk.ru"><li><i class="fas fa-envelope"></i> tomiris.smadiyar02@bk.ru</li></a>
        </ul>
    </div>
    <h4>Smadiyar Tomiris © 2020</h4>
{% endblock %}